.div_principal {
  width: 1000px;
  height: 1050px;
}
.grid {
  display: flex;
  position: relative;
  left: 300px;
  bottom: 180px;
  flex-wrap: wrap;
  height: 850px;
  width: 900px;
}
/* Cards */
.card {
  margin: 1rem;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: 850px;
  width: 900px;
}

.card_ok {
  margin: 1rem;
  position: relative;
  left: 900px;
  top: 280px;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: 20px;
  width: 200px;
}
.card_no_ok {
  margin: 1rem;
  position: relative;
  left: 900px;
  top: 280px;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 2px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: 20px;
  width: 200px;
}
.card_archivos {
  margin: 1rem;
  position: relative;
  left: 525px;
  top: 328px;
  padding-top: 12px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: 50px;
  width: 250px;
}
.card_empresa {
  font-size: 75px;
  position: relative;
  top: 50px;
  left: 180px;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  width: 350px;
  height: 300px;
}
/* Have al the information about the corporation */
.information {
  position: relative;
  bottom: 150px;
  right: 80px;
  height: auto;
}

.container_subtitle {
  position: relative;
  left: 70px;
  top: 40px;
}
/* Logos */
.logo_empresa {
  margin-left: 40px;
  color: rgb(0, 0, 0);
  position: relative;
  top: 40px;
  left: 80px;
  font-size: 150px;
}

.arrow_left {
  position: relative;
  font-size: 80px;
  top: 400px;
  left: 240px;
  color: gray;
  background-color: transparent;
  border: none;
}

.arrow_right {
  position: relative;
  font-size: 80px;
  top: 400px;
  left: 1160px;
  background-color: transparent;
  border: none;
}

.logo_archivos {
  font-size: 30px;
  position: relative;
  bottom: 10px;
  color: rgb(50, 180, 255);
  background-color: transparent;
  border: none;
}

.clock {
  color: gray;
  position: relative;
  top: 21px;
  background-color: transparent;
  border: none;
}

.ok_arrow {
  position: relative;
  bottom: 52px;
  right: 65px;
  font-size: 25px;
  color: green;
  background-color: transparent;
  border: none;
}

.no_ok_arrow {
  position: relative;
  bottom: 54px;
  right: 70px;
  font-size: 25px;
  color: red;
  background-color: transparent;
  border: none;
}

/* Separetors */
.separador_identificacion {
  position: relative;
  top: 270px;
  border-top: 1px;
  background-color: rgb(228, 228, 228);
  width: 310px;
  height: 2px;
  padding: 0;
  margin-top: 3px;
  margin-left: 140px;
}
.separador_empresa {
  position: relative;
  top: 240px;
  border-top: 1px;
  background-color: rgb(228, 228, 228);
  width: 310px;
  height: 2px;
  padding: 0;
  margin-top: 3px;
  margin-left: 140px;
}
.separador_empleados {
  position: relative;
  top: 300px;
  border-top: 1px;
  background-color: rgb(228, 228, 228);
  width: 310px;
  height: 2px;
  padding: 0;
  margin-top: 3px;
  margin-left: 140px;
}
.separador_social {
  position: relative;
  top: 89px;
  border-top: 1px;
  background-color: rgb(228, 228, 228);
  width: 310px;
  height: 2px;
  padding: 0;
  margin-top: 3px;
  margin-left: 140px;
  left: 409px;
}
.separador_identificacion_empresa {
  position: relative;
  top: 113px;
  border-top: 1px;
  background-color: rgb(228, 228, 228);
  width: 310px;
  height: 2px;
  padding: 0;
  margin-top: 2px;
  margin-left: 140px;
  left: 409px;
}
/* labels */
.subtitle {
  font-size: 25px;
  color: rgb(50, 180, 255);
  position: relative;
  top: 15px;
}
.subtitle_posActual {
  position: relative;
  bottom: 34px;
  left: 184px;
  font-size: 25px;
}
.num_empleados {
  position: relative;
  left: 140px;
  width: 180px;
  top: 310px;
  color: gray;
}
.identificacion {
  position: relative;
  left: 140px;
  width: 160px;
  top: 280px;
  color: gray;
}
.razon_social {
  position: relative;
  left: 550px;
  width: 180px;
  top: 90px;
  color: gray;
}

.identificacion_empresa {
  top: 142px;
  position: relative;
  left: 550px;
  width: 180px;
  color: gray;
}
.container_second_information{
  position: relative;
  bottom: 55px;
}
.letras {
  position: relative;
  left: 140px;
  width: 180px;
  top: 250px;
  color: gray;
}

.archivos_letra {
  position: relative;
  left: 20px;
  bottom: 15px;
  font-weight: bold;
}

.acept_empresa {
  position: relative;
  font-size: 15px;
  left: 85px;
  top: 38px;
  font-weight: bold;
}

.no_acept_empresa {
  position: relative;
  font-size: 15px;
  left: 88px;
  top: 38px;
  font-weight: bold;
}

.archive_movil {
  position: relative;
  left: 80px;
  top: 530px;
  font-size: 15px;
  font-weight: bold;
  display: none;
}

.label_movil {
  font-size: 12px;
  height: 50px;
  width: 300px;
  position: relative;
  left: 15px;
  top: 35px;
  color: gray;
  display: none;
}

/* BD Information */
.letra_nombre {
  position: relative;
  left: 145px;
  top: 250px;
}

.letra_NIT {
  position: relative;
  left: 145px;
  top: 280px;
}

.letra_employe {
  position: relative;
  left: 145px;
  top: 300px;
}
.letra_social {
  position: relative;
  width: 180px;
  left: 555px;
  top: 85px;
}
.letra_identification {
  position: relative;
  width: 180px;
  left: 555px;
  top: 128px;
}
@media (max-width: 768px) {
  .div_principal {
    width: 200px;
    height: 900px;
  }
  .grid {
    display: flex;
    position: relative;
    left: -48px;
    bottom: 50px;
    flex-wrap: wrap;
    height: 1500px;
    width: 360px;
  }
  /* Cards */
  .card {
    position: relative;
    bottom: 100px;
    margin: 1rem;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    height: 1400px;
    width: 340px;
  }
  .card_archivos {
    display: none;
  }
  .card_empresa {
    font-size: 25px;
    position: relative;
    top: 10px;
    left: -8px;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    width: 300px;
    height: 300px;
  }
  .card_ok {
    margin: 1rem;
    position: relative;
    left: 10px;
    top: 1440px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    height: 20px;
    width: 200px;
  }
  .card_no_ok {
    margin: 1rem;
    position: relative;
    left: 10px;
    top: 1440px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 2px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    height: 20px;
    width: 200px;
  }
  /* Have al the information about the corporation */
  .information {
    position: relative;
    bottom: 150px;
    right: 80px;
    height: auto;
  }

  .container_subtitle {
    position: relative;
    left: -50px;
  }
  /* Logos */
  .logo_empresa {
    margin-left: 40px;
    color: rgb(0, 0, 0);
    position: relative;
    top: 40px;
    left: 50px;
    font-size: 150px;
  }

  .arrow_left {
    position: relative;
    font-size: 30px;
    top: -145px;
    left: -20px;
    color: gray;
  }

  .arrow_right {
    position: relative;
    font-size: 30px;
    top: -145px;
    left: 260px;
  }

  .logo_archivos {
    font-size: 30px;
    position: relative;
    bottom: 10px;
    color: rgb(50, 180, 255);
  }

  /* Separetors */
  .separador_identificacion {
    position: relative;
    top: 415px;
    border-top: 1px;
    background-color: rgb(228, 228, 228);
    width: 310px;
    height: 2px;
    padding: 0;
    margin-top: 3px;
    margin-left: 80px;
  }
  .separador_empresa {
    position: relative;
    top: 265px;
    border-top: 1px;
    background-color: rgb(228, 228, 228);
    width: 310px;
    height: 2px;
    padding: 0;
    margin-top: 3px;
    margin-left: 80px;
  }
  .separador_empleados {
    position: relative;
    top: 560px;
    border-top: 1px;
    background-color: rgb(228, 228, 228);
    width: 310px;
    height: 1px;
    padding: 0;
    margin-top: 3px;
    margin-left: 80px;
  }
  .separador_social {
    position: relative;
    top: 220px;
    border-top: 1px;
    background-color: rgb(228, 228, 228);
    width: 310px;
    height: 1px;
    padding: 0;
    margin-top: 3px;
    margin-left: -329px;
    left: 409px;
  }
  .separador_identificacion_empresa {
    position: relative;
    top: 360px;
    border-top: 1px;
    background-color: rgb(228, 228, 228);
    width: 310px;
    height: 1px;
    padding: 0;
    margin-top: 3px;
    margin-left: -329px;
    left: 409px;
  }
  /* labels */
  .subtitle {
    font-size: 15px;
    color: rgb(50, 180, 255);
    position: relative;
    top: -25px;
    left: 25px;
  }
  .subtitle_posActual {
    position: relative;
    bottom: 46px;
    left: 127px;
    font-size: 15px;
  }
  .num_empleados {
    position: relative;
    left: 80px;
    width: 180px;
    top: 540px;
    color: gray;
    font-size: 15px;
  }
  .identificacion {
    font-size: 15px;
    position: relative;
    left: 80px;
    width: 180px;
    top: 400px;
    color: gray;
  }
  .razon_social {
    font-size: 15px;
    position: relative;
    left: 80px;
    width: 180px;
    top: 205px;
    color: gray;
  }

  .identificacion_empresa {
    font-size: 15px;
    top: 348px;
    position: relative;
    left: 80px;
    width: 180px;
    color: gray;
  }

  .letras {
    font-size: 15px;
    position: relative;
    left: 80px;
    width: 180px;
    top: 250px;
    color: gray;
  }

  .archivos_letra {
    display: none;
  }
  .archive_movil {
    display: block;
  }
  .label_movil {
    display: block;
  }
  /* BD Information */
  .letra_nombre {
    position: relative;
    font-size: 15px;
    left: 85px;
    top: 270px;
  }

  .letra_NIT {
    position: relative;
    left: 89px;
    top: 418px;
  }

  .letra_employe {
    position: relative;
    left: 90px;
    top: 560px;
  }
  .letra_social {
    position: relative;
    width: 180px;
    left: 85px;
    top: 220px;
  }
  .letra_identification {
    position: relative;
    width: 180px;
    left: 87px;
    top: 362px;
  }
}
